*{
    background-color: hsl(210deg 40% 16%);
    color: hsl(210deg 10% 90%);
    font-family:  "Cartograph CF", monospace;
}


.question{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}

.detail{
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
    visibility: hidden;
}

.choices{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
}
.choice{
    display: flex;
    flex-direction: row;
}
.btn{
    margin: 5px;
    background-color: hsl(210deg 10% 90%);
    color: hsl(210deg 40% 16%);
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}

.answer{
    margin: 2px;
    background-color: hsl(210deg 10% 90%);
    color: hsl(210deg 40% 16%);
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}

