*{
    background-color: hsl(210deg 40% 16%);
    color: hsl(210deg 10% 90%);
    font-family:  "Cartograph CF", monospace;
}

.req{
    margin-left: 25%;
    margin-right: 25%;
    visibility: hidden;
}

.reload{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}
.question{
    
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}

.detail{
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
    visibility: hidden;
}

.choices{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
}
.choice{
    display: flex;
    flex-direction: row;
}
.btn{
    margin: 5px;
    background-color: hsl(210deg 10% 90%);
    color: hsl(210deg 40% 16%);
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}

.answer{
    margin: 2px;
    background-color: hsl(210deg 10% 90%);
    color: hsl(210deg 40% 16%);
    border: 2px solid hsl(210deg 10% 90%);
    border-radius: 4px;
}

#number_btn{
    margin-left: 35%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 5 equal columns */
    grid-template-rows: repeat(20, auto); /* 20 rows with automatic height */
    gap: 5px; /* Optional: Adds space between grid items */
    width: 30%;
}

@media only screen and(max-width: 800px) {
    .choice{
        display: flex;
        flex-direction: column;
    }
}