<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/balance_sheet.css')}}">
    <title>Balance sheet</title>
</head>
<body>
    <div class="addcompany">
        <input type="text" name="namecompany" id="namecompany">
        <button id="AddCompany">Add Company</button>
    </div>

    <div id="list">
       
    </div>

    <script src="{{url_for('static',filename='js/d3.js')}}"></script>
    <script src="{{url_for('static',filename='js/balance_sheet.js')}}"></script>
</body>
</html>