<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
</style>
<body>
    <div class="body">
        <div class="title">

        </div>
        <div class="introducation">

        </div>
        <div class="main">

        </div>
        <div class="conclusion">

        </div>
    </div>
</body>
<footer>
    <form action="" method="post">
        <p>signup for weekily news letter <input type="email" name="email" id="" placeholder="email"></p>
    </form>
</footer>
</html>