<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/come.css')}}">
</head>

<body>
    <div class="main">
        <div class="question">
            <ol>
                <li>
                   <p> What is your name ?</p>
                </li>
                <li>
                   <p>
                    Tell us a little bit about your previous job ? 
                   </p>
                </li>
                <li>
                    <p>What was the biggest challenges you faced in your previous job ?</p>
                </li>
                <li>
                    <p>How did you solve challenges ?</p>
                </li>
                <li>
                    <p>What is Your Hobby ?</p>
                </li>
            </ol>
        </div>
        <div class="record">
           <div id="vid">
                <video id="video" autoplay></video>
                <button id="start">start</button>
           </div>
           <div id="recorded">
            <video id="recorded_video" class="video" controls></video>
            <button id="send">send</button>
        </div>
        </div>
       
          
    </div>
<script src="{{url_for('static',filename='js/come.js')}}"></script>
</body>
</html>