<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Limit Exceeded</title>
    <style>
       *{
            background-color: hsl(210deg 40% 16%);
            color: red;
            font-family:  "Cartograph CF", monospace;
       }
       .container{
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 20%;
            border: 2px solid red;
            border-radius: 4px;
       }
    </style>
</head>
<body>
    <div class="container">
        <h1>Too Many Requests</h1>
        <h2>Allowed 1 per day</h2>
        <p><b>You have exceeded the rate limit. Please try again later.</b></p>
    </div>
</body>
</html>