<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static",filename="style/index.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <nav>
        
        <a href="">Home</a>
        <a href="">Blog</a>
        <a href="https://github.com/YabseraBogale">Github</a>
        <a download="pdf" href="{{url_for("resume")}}" target="_blank"><i class="fa fa-download" aria-hidden="true"> Resume</i></a>
    </nav>
    <div class="main">
        <img src="https://avatars.githubusercontent.com/u/96526984?v=4" alt="Yabsera Bogale Image">
        <h1>Yabsera Bogale Software Developer</h1>
    <h3>Personal Info</h3>
    <hr>
    <p>
    Experienced Software Developer with a strong foundation in Programming and Building
    application. 
    <br>Proficient in Python, Javascript and Dotnet, with practical experience in building
    automation tools, including bots that integrate with platforms like Telegram.
    <br> Passionate about developing secure and efficient solutions, with a proven track record in
    implementing features that optimize user experience and system performance.  
    <br>Skilled in communication, applying problem-solving skills, and staying updated with the latest tech
    trends. 
    </p>
    <h3>Skills</h3>
    <hr>
    <div class="skill">
        <ul>
            <li>
                Python
            </li>
            <li>
                Javascript
            </li>
            <li>Java</li>
            <li>
                Dotnet
            </li>
        </ul>
        <ul>
            <li>
                HTML And CSS
            </li>
            <li>
                Node And Flask
            </li>
            <li>
                Linux And Git
            </li>
            <li>
                Sql
            </li>
        </ul>
    </div>
    <h3>Experience </h3>
    <hr>
    <h3>Intern Junior Python Software Developer At FriEL Ethiopia Jan 2024 - Present</h4>
    <p>
        Developing many system for making the production and processing of agr-products easy. 
       <br> Currently building a system where it makes the process of handing vehicle easy for the drivers and mechanic
    </p>
    <h3>Exhibition Organizer For Faculty Of Informatics St.Mary’s May 15-17 2024</h4>
    <p>
        As an exhibition organizer, I was in planning and executing events that showcase ideas,innovations, and products with other members.
    </p>
    <h3>Presenter At Exhibition For Faculty Of Informatics St.Mary’s May 29-31 2023</h4>
    <p>
        Presented at The exhibition project that was made with other member that helped Patient to find
        Nurse, for their care taking.
    </p>
    <hr>
    <h3>
        Contact
    </h3>
    <hr>
    <div class="contact">
        <ul>
            <li>
                <strong>Email:</strong> yabserapython@gmail.com
            </li>
        </ul>
        <ul>
            <li>
                <strong>Phone number:</strong> +251920201161
            </li>
        </ul>
    </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>