<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inflation Calculator</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/inflation_calculator.css')}}">
</head>
<body>
    <form action="{{url_for("inflation_calculator")}}" method="POST">
        <div class="main">
            <div class="country">
                <input type="number" name="amount" id="amount" min="0" placeholder="Amount">
                <select name="country" id="country">
                    <option value="">--select a country--</option>
                    <option value="Aruba">Aruba</option> 
                    <option value="Africa Eastern and Southern">Africa Eastern and Southern</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Africa Western and Central">Africa Western and Central</option>
                    <option value="Angola">Angola</option>
                    <option value="Albania">Albania</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Arab World">Arab World</option>
                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Benin">Benin</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bahamas, The">Bahamas, The</option>
                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belize">Belize</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Canada">Canada</option>
                    <option value="Central Europe and the Baltics">Central Europe and the Baltics</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Congo, Dem. Rep.">Congo, Dem. Rep.</option>
                    <option value="Congo, Rep.">Congo, Rep.</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Cabo Verde">Cabo Verde</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Caribbean small states">Caribbean small states</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curacao">Curacao</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czechia">Czechia</option>
                    <option value="Germany">Germany</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="Algeria">Algeria</option>
                    <option value="East Asia & Pacific (excluding high income)">East Asia & Pacific (excluding high income)</option>
                    <option value="Early-demographic dividend">Early-demographic dividend</option>
                    <option value="East Asia & Pacific">East Asia & Pacific</option>
                    <option value="Europe & Central Asia (excluding high income)">Europe & Central Asia (excluding high income)</option>
                    <option value="Europe & Central Asia">Europe & Central Asia</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt, Arab Rep.">Egypt, Arab Rep.</option>
                    <option value="Euro area">Euro area</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Spain">Spain</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="European Union">European Union</option>
                    <option value="Fragile and conflict affected situations">Fragile and conflict affected situations</option>
                    <option value="Finland">Finland</option>
                    <option value="Fiji">Fiji</option>
                    <option value="France">France</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Micronesia, Fed. Sts.">Micronesia, Fed. Sts.</option>
                    <option value="Gabon">Gabon</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Gambia, The">Gambia, The</option>
                    <option value="Guinea-Bissau">Guinea-Bissau</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Greece">Greece</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guam">Guam</option>
                    <option value="Guyana">Guyana</option>
                    <option value="High income">High income</option>
                    <option value="Hong Kong SAR, China">Hong Kong SAR, China</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Heavily indebted poor countries (HIPC)">Heavily indebted poor countries (HIPC)</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hungary">Hungary</option>
                    <option value="IBRD only">IBRD only</option>
                    <option value="IDA & IBRD total">IDA & IBRD total</option>
                    <option value="IDA total">IDA total</option>
                    <option value="IDA blend">IDA blend</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="IDA only">IDA only</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="India">India</option>
                    <option value="Not classified">Not classified</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Iran, Islamic Rep.">Iran, Islamic Rep.</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Japan">Japan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kyrgyz Republic">Kyrgyz Republic</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="St. Kitts and Nevis">St. Kitts and Nevis</option>
                    <option value="Korea, Rep.">Korea, Rep.</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Latin America & Caribbean (excluding high income)">Latin America & Caribbean (excluding high income)</option>
                    <option value="Lao PDR">Lao PDR</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="St. Lucia">St. Lucia</option>
                    <option value="Latin America & Caribbean">Latin America & Caribbean</option>
                    <option value="Least developed countries: UN classification">Least developed countries: UN classification</option>
                    <option value="Low income">Low income</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Lower middle income">Lower middle income</option>
                    <option value="Low & middle income">Low & middle income</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Late-demographic dividend">Late-demographic dividend</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Macao SAR, China">Macao SAR, China</option>
                    <option value="St. Martin (French part)">St. Martin (French part)</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Middle East & North Africa">Middle East & North Africa</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Middle income">Middle income</option>
                    <option value="North Macedonia">North Macedonia</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Middle East & North Africa (excluding high income)">Middle East & North Africa (excluding high income)</option>
                    <option value="Montenegro">Montenegro</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="North America">North America</option>
                    <option value="Namibia">Namibia</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Norway">Norway</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Nauru">Nauru</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="OECD members">OECD members</option>
                    <option value="Oman">Oman</option>
                    <option value="Other small states">Other small states</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Panama">Panama</option>
                    <option value="Peru">Peru</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Palau">Palau</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Poland">Poland</option>
                    <option value="Pre-demographic dividend">Pre-demographic dividend</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Korea, Dem. People's Rep.">Korea, Dem. People's Rep.</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="West Bank and Gaza">West Bank and Gaza</option>
                    <option value="Pacific island small states">Pacific island small states</option>
                    <option value="Post-demographic dividend">Post-demographic dividend</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Romania">Romania</option>
                    <option value="Russian Federation">Russian Federation</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="South Asia">South Asia</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Somalia">Somalia</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Sub-Saharan Africa (excluding high income)">Sub-Saharan Africa (excluding high income)</option>
                    <option value="South Sudan">South Sudan</option>
                    <option value="Sub-Saharan Africa">Sub-Saharan Africa</option>
                    <option value="Small states">Small states</option>
                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Slovak Republic">Slovak Republic</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Eswatini">Eswatini</option>
                    <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option value="Chad">Chad</option>
                    <option value="East Asia & Pacific (IDA & IBRD countries)">East Asia & Pacific (IDA & IBRD countries)</option>
                    <option value="Europe & Central Asia (IDA & IBRD countries)">Europe & Central Asia (IDA & IBRD countries)</option>
                    <option value="Togo">Togo</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Latin America & the Caribbean (IDA & IBRD countries)">Latin America & the Caribbean (IDA & IBRD countries)</option>
                    <option value="Timor-Leste">Timor-Leste</option>
                    <option value="Middle East & North Africa (IDA & IBRD countries)">Middle East & North Africa (IDA & IBRD countries)</option>
                    <option value="Tonga">Tonga</option>
                    <option value="South Asia (IDA & IBRD)">South Asia (IDA & IBRD)</option>
                    <option value="Sub-Saharan Africa (IDA & IBRD countries)">Sub-Saharan Africa (IDA & IBRD countries)</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkiye">Turkiye</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="Upper middle income">Upper middle income</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="United States">United States</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="St. Vincent and the Grenadines">St. Vincent and the Grenadines</option>
                    <option value="Venezuela, RB">Venezuela, RB</option>
                    <option value="British Virgin Islands">British Virgin Islands</option>
                    <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
                    <option value="Viet Nam">Viet Nam</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="World">World</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Kosovo">Kosovo</option>
                    <option value="Yemen, Rep.">Yemen, Rep.</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                </select>
            </div>
            <div class="years">
                <select name="year_in" id="year_in">
                    <option value="">--select a year in--</option>
                    <option value="1960">1960</option>
                    <option value="1961">1961</option>
                    <option value="1962">1962</option>
                    <option value="1963">1963</option>
                    <option value="1964">1964</option>
                    <option value="1965">1965</option>
                    <option value="1966">1966</option>
                    <option value="1967">1967</option>
                    <option value="1968">1968</option>
                    <option value="1969">1969</option>
                    <option value="1970">1970</option>
                    <option value="1971">1971</option>
                    <option value="1972">1972</option>
                    <option value="1973">1973</option>
                    <option value="1974">1974</option>
                    <option value="1975">1975</option>
                    <option value="1976">1976</option>
                    <option value="1977">1977</option>
                    <option value="1978">1978</option>
                    <option value="1979">1979</option>
                    <option value="1980">1980</option>
                    <option value="1981">1981</option>
                    <option value="1982">1982</option>
                    <option value="1983">1983</option>
                    <option value="1984">1984</option>
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="1987">1987</option>
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2000</option>
                    <option value="2002">2001</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
    
                </select>
                <select name="year_at" id="year_at">
                    <option value="">--select a year at--</option>
                    <option value="1960">1960</option>
                    <option value="1961">1961</option>
                    <option value="1962">1962</option>
                    <option value="1963">1963</option>
                    <option value="1964">1964</option>
                    <option value="1965">1965</option>
                    <option value="1966">1966</option>
                    <option value="1967">1967</option>
                    <option value="1968">1968</option>
                    <option value="1969">1969</option>
                    <option value="1970">1970</option>
                    <option value="1971">1971</option>
                    <option value="1972">1972</option>
                    <option value="1973">1973</option>
                    <option value="1974">1974</option>
                    <option value="1975">1975</option>
                    <option value="1976">1976</option>
                    <option value="1977">1977</option>
                    <option value="1978">1978</option>
                    <option value="1979">1979</option>
                    <option value="1980">1980</option>
                    <option value="1981">1981</option>
                    <option value="1982">1982</option>
                    <option value="1983">1983</option>
                    <option value="1984">1984</option>
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="1987">1987</option>
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2000</option>
                    <option value="2002">2001</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
            <input type="submit" value="Calculate">
            <div class="result">
                <p>has the same buying power as <b id="result"></b></p>
            </div>
        </div>
    </form>
</body>
</html>