<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inflation Calculator</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/inflation_calculator.css')}}">
</head>
<body>
    <div class="main">
        
        <div class="country">
            <input type="number" name="amount" id="amount" min="0" placeholder="Amount">
            <select name="country" id="country">
                <option value="">--select a country--</option>
            </select>
        </div>
        <div class="years">
            <select name="year_in" id="year_in">
                <option value="">--select a year in--</option>
            </select>
            <select name="year_at" id="year_at">
                <option value="">--select a year at--</option>
            </select>
        </div>
        <input type="submit" value="Calculate">
        <div class="result">
            <p>has the same buying power as <b id="result"></b></p>
        </div>
    </div>
</body>
</html>