<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Software Fact</title>
</head>

<style>
    *{
    background-color: hsl(210deg 40% 16%);
    color: hsl(210deg 10% 90%);
    font-family:  "Cartograph CF", monospace;
    }
    .main{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 30%;
        border:2px solid hsl(210deg 10% 90%);
        border-radius: 5px;
    }
    button{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5px;
        border:2px solid hsl(210deg 10% 90%);
        border-radius: 5px;
    }
</style>
<body>
   <div class="main">
        <p>{{Facts[0][0]}}</p>
   </div> 
   <button id="reload">reload</button>
   <script>
    
   </script>
</body>
</html>