<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/test.css')}}">
</head>
<body>
    <div class="main">
        <div class="question">
            <p id="question">

            </p>
            <div class="choices">
                <div class="choice">
                    <input type="radio" name="choice" > <p id="a"></p>
                </div>
                <div class="choice">
                    <input type="radio" name="choice" > <p id="b"></p>
                </div>
                <div class="choice">
                    <input type="radio" name="choice" > <p id="c"></p>
                </div>
                <div class="choice">
                    <input type="radio" name="choice" > <p id="d"></p>
                </div>
            </div>
            <div class="answer">

            </div>
            <div class="explanation">

            </div>
        </div>
        <div class="list">

        </div>
    </div>
<script src="{{url_for('static',filename='js/test.js')}}"></script>
</body>
</html>