<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/test.css')}}">
</head>
<body>
    <div class="body">
        
        <div class="main">
            <div class="question">
                <p id="question">
                </p>
                <div class="choices">
                    <div class="choice">
                        <input type="radio" name="choice" > <p id="a"></p>
                    </div>
                    <div class="choice">
                        <input type="radio" name="choice" > <p id="b"></p>
                    </div>
                    <div class="choice">
                        <input type="radio" name="choice" > <p id="c"></p>
                    </div>
                    <div class="choice">
                        <input type="radio" name="choice" > <p id="d"></p>
                    </div>
                    <div class="choice-btn">
                        <button id="previous" class="btn">previous</button>
                        <button id="next" class="btn">next</button>
                        <button id="check_answer" class="btn">check answer</button>
                    </div>
                </div>
            </div>
            <div class="detail" id="detail">
                <div class="answer" id="answer">
    
                </div>
                <div class="explanation" id="explanation">
    
                </div>
            </div>
        </div>
       
        <div class="btn" id="number_btn">
            <b class="goto">1</b>
            <button class="goto">2</button>
            <button class="goto">3</button>
            <button class="goto">4</button>
            <button class="goto">5</button>
            <button class="goto">6</button>
            <button class="goto">7</button>
            <button class="goto">8</button>
            <button class="goto">9</button>
            <button class="goto">10</button>
            <button class="goto">11</button>
            <button class="goto">12</button>
            <button class="goto">13</button>
            <button class="goto">14</button>
            <button class="goto">15</button>
            <button class="goto">16</button>
            <button class="goto">17</button>
            <button class="goto">18</button>
            <button class="goto">19</button>
            <button class="goto">20</button>
            <button class="goto">21</button>
            <button class="goto">22</button>
            <button class="goto">23</button>
            <button class="goto">24</button>
            <button class="goto">25</button>
            <button class="goto">26</button>
            <button class="goto">27</button>
            <button class="goto">28</button>
            <button class="goto">29</button>
            <button class="goto">30</button>
            <button class="goto">31</button>
            <button class="goto">32</button>
            <button class="goto">33</button>
            <button class="goto">34</button>
            <button class="goto">35</button>
            <button class="goto">36</button>
            <button class="goto">37</button>
            <button class="goto">38</button>
            <button class="goto">39</button>
            <button class="goto">40</button>
            <button class="goto">41</button>
            <button class="goto">42</button>
            <button class="goto">43</button>
            <button class="goto">44</button>
            <button class="goto">45</button>
            <button class="goto">46</button>
            <button class="goto">47</button>
            <button class="goto">48</button>
            <button class="goto">49</button>
            <button class="goto">50</button>
            <button class="goto">51</button>
            <button class="goto">52</button>
            <button class="goto">53</button>
            <button class="goto">54</button>
            <button class="goto">55</button>
            <button class="goto">56</button>
            <button class="goto">57</button>
            <button class="goto">58</button>
            <button class="goto">59</button>
            <button class="goto">60</button>
            <button class="goto">61</button>
            <button class="goto">62</button>
            <button class="goto">63</button>
            <button class="goto">64</button>
            <button class="goto">65</button>
            <button class="goto">66</button>
            <button class="goto">67</button>
            <button class="goto">68</button>
            <button class="goto">69</button>
            <button class="goto">70</button>
            <button class="goto">71</button>
            <button class="goto">72</button>
            <button class="goto">73</button>
            <button class="goto">74</button>
            <button class="goto">75</button>
            <button class="goto">76</button>
            <button class="goto">77</button>
            <button class="goto">78</button>
            <button class="goto">79</button>
            <button class="goto">80</button>
            <button class="goto">81</button>
            <button class="goto">82</button>
            <button class="goto">83</button>
            <button class="goto">84</button>
            <button class="goto">85</button>
            <button class="goto">86</button>
            <button class="goto">87</button>
            <button class="goto">88</button>
            <button class="goto">89</button>
            <button class="goto">90</button>
            <button class="goto">91</button>
            <button class="goto">92</button>
            <button class="goto">93</button>
            <button class="goto">94</button>
            <button class="goto">95</button>
            <button class="goto">96</button>
            <button class="goto">97</button>
            <button class="goto">98</button>
            <button class="goto">99</button>
            <button class="goto">100</button>
        </div>
        
<script src="{{url_for('static',filename='js/test.js')}}"></script>
</body>
</html>