{% extends "base.html" %}
{% block headtitle %} Why go is good for beginners {% endblock %}
{% block title %}Index{% endblock %}
{% block intro %}
    <h2>background of go</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quaerat, ut vitae earum quas quia, reprehenderit sed doloremque nesciunt amet necessitatibus voluptatem! Quia autem repellendus dolorum labore iste, provident magnam.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
    </p>
{% endblock %}

{% block content %}

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eveniet id, fugit quaerat eaque, blanditiis ut officiis voluptate ex earum nemo quibusdam, illo sit rerum? Accusantium veniam aliquid vero corporis.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
</p>


{% endblock %}
{% block conclusion %}
    <h2>conclusion</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure magni, ullam a eos mollitia laudantium fugiat pariatur reprehenderit illo maxime quas eligendi reiciendis vero harum quia praesentium! Dicta, necessitatibus itaque.
    </p>
{% endblock %}

{% block prev %}
    
    <a href="">Prev</a>

{% endblock %}
{% block next %}

    <a href="">Next</a>

{% endblock %}